.container {
  color: #000;
  background-color: #fff;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 80px;
  font-family: Inter, Arial;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 29px;
  display: flex;
}

.Navbar {
  width: 100%;
  background-color: #72c4ff;
  flex-direction: row;
  flex-basis: 3%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 16px;
  font-size: 1.25rem;
  line-height: 24px;
  display: flex;
}

.paroisse-notre-dame {
  margin-right: 47px;
  font-family: Cinzel, Arial;
  font-size: 1.5rem;
  line-height: 32px;
}

.enregistrer {
  margin-top: 2px;
  margin-left: 453px;
}

.material-symbolsnote-1 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-top: 2px;
}

.rechercher {
  margin-bottom: 1px;
}

.material-symbolscont {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.administrer-un-sacre {
  margin-left: 10px;
}

.jamwrite {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-bottom: 1px;
}

.flex-container {
  width: 40%;
  flex-direction: row;
  align-self: center;
  align-items: center;
  margin-bottom: 36px;
  font-size: 2.25rem;
  line-height: 44px;
  display: flex;
  
}


.material-symbolsnote {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.enregistrement-de-me {
  margin-top: 2px;
  font-size: 2rem;
}
.flex-box, .flex-box2, .flex-box3 {
  display: flex;
  margin-bottom: 25px;
  padding-left: 10px;
}
.flex-container-1, .flex-container-2, .flex-container-3, .flex-container-4, .flex-container-5,
.flex-container-6, .flex-container-7, .flex-container-8, .flex-container-9, .flex-container-10 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 15px;
}
input {
  height: 25px;
}
.consecration-religie, .mariage {
  padding-left: 10px;
}
#rechercheTitre, #listeTitre {
  margin-top: 150px;
  text-align: center;
}
table, th, td {
  border: 3px solid rgb(24, 6, 56);
  border-collapse: collapse;
  padding: 15px;
}
table {
  margin-left: 350px;
  text-align: center;
}
#AllMembers, #SearchSection {
  display: flex;
  flex-direction: column;
}
#AllMembers button {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 150px;
  height: 30px;
  text-align: center;
}
#SearchSection p {
  text-align: center;
}
#SearchSection input {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 300px;
  text-align: center;
}
#SearchSection button {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
}